.similar-job-item {
  list-style: none;
  margin-right: 3%;
  width: 30%;
}

#logo {
  width: 70px;
  height: 70px;
  margin-right: 5%;
}

.company-logo-headers {
  height: 20%;
  align-items: flex-start;
}
h1 {
  font-size: larger;
  width: 100%;
}

#description-text {
  width: 100%;
  text-align: justify;
}

.key-aspects {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
