/* Write your CSS here */
.container {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  padding: 3%;
  justify-content: center;
  font-family: Roboto;
  background-color: #ffc2a0;
}
.todoContainer {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 80vw;
  height: fit-content;
  text-align: center;
  padding: 5%;
  border-radius: 15px;
  background-color: white;
}
h1 {
  color: #ff8542;
  font-size: 50px;
}

@media (max-width: 767px) {
  .todoContainer {
    width: 95vw;
  }
}
